/* Llamada a elementos */
@use "../_variables" as var;
@use "../_base";
@use "../_mixins";

/*Asignacion de variables para interpolacion */
$color-background: obtener-color('color-fondo');
$fuente-principal: obtener-fuente('fuente-principal');
$fuente-secundaria: obtener-fuente('fuente-secundaria');
$color-texto-claro: obtener-color('color-texto-claro');
$color-encabezado: obtener-color('color-encabezado');
$color-secundario: obtener-color('color-secundario');
$color-activo: obtener-color('color-activo');
$color-principal: obtener-color('color-principal');
$color-texto-oscuro: obtener-color('color-texto-oscuro');

/* Clase auxiliar para heredar */
.auxiliar {
  background-color: #{$color-secundario};
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  cursor: pointer;
  font-family: #{$fuente-principal};
  color: #{$color-texto-claro};
}

/* Estilos generales */
body {
  margin: 0;
  background-color: #{$color-background};
  font-family: #{$fuente-principal};
  color: #{$color-texto-claro};
}
