@use "../sass/variables" as var;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var.$fuente-secundaria;
    font-size: 25px;
}

header {
    background-color: var.$color-encabezado;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body {
    background-color: var.$color-fondo;
    color: var.$color-texto-claro;
}

footer {
    background-color: var.$color-encabezado;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}