@use "../sass/_variables" as *;
@use "../sass/_mixins";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: map-get($fuentes, 'fuente-principal');
    font-size: 25px;
}

header {
    background-color: map-get($colores, 'color-encabezado');
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body {
    background-color: map-get($colores, 'color-fondo');
    color: map-get($colores, 'color-texto-claro');
}

footer {
    background-color: map-get($colores, 'color-encabezado');
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}