$text-size:(
    pequenio: 12px,
    base: 16px,
    grande: 20px,
    iconos: 50px
);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $fuente-secundaria;
    font-size: 25px;
}

header {
    @include text-size(grande);
    background-color: $color-encabezado;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body {
    @include text-size(base);
    background-color: $color-fondo;
    color: $color-texto-claro;
}

footer {
    @include text-size(pequenio);
    background-color: $color-encabezado;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}