@use "../utilidades/_variables";
@use "../utilidades/_mixins";


/* Estilos del menú */
.menu {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px;

    a {
        text-decoration: none;
        color: black;
        font-family: #{$fuente-principal};
    }

    .objeto_menu_activo {
        background-color: #{$color-activo};
        padding: 5px 10px;
    }
}