//Colores de la paleta
$color-principal: #BF8563;
$color-secundario: #644434;
$color-texto-claro: #ffffff;
$color-texto-oscuro: #644434;
$color-fondo: #e4dccc88;
$color-encabezado: #b8a47f00;
$color-activo: #BCA48C;

//Tipografias usadas
$fuente-principal: 'Playfair Display', serif;
$fuente-secundaria: 'Montserrat', sans-serif;

//Tamaños de fuente
$tamano-titulo: 30px;
$tamano-subtitulo: 25px;
$tamano-parrafo: 20px;
$tamano-texto-pequeno: 15px;
$tamano-texto-muy-pequeno: 10px;

//Tamaños de pantalla
$breakpoints: (
    "mobile": 480px, //Tamaño de pantalla para dispositivos móviles
    "tablet": 768px, //Tamaño de pantalla para tablets
    "laptop": 1200px, //Tamaño de pantalla para laptops
    "desktop": 1920px, //Tamaño de pantalla para monitores de escritorio
    "grande": 2560px //Tamaño de pantalla para monitores de gran tamaño
);