//Colores de la paleta
$color-principal: #BF8563;
$color-secundario: #644434;
$color-texto-claro: #ffffff;
$color-texto-oscuro: #644434;
$color-fondo: #e4dccc88;
$color-bloques: #d2b48c;
$color-encabezado: #b8a47f00;
$color-activo: #BCA48C;
$color-pastel: #CC9487;

//Tipografias usadas
$fuente-principal: 'Playfair Display', serif;
$fuente-secundaria: 'Montserrat', sans-serif;
