* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $fuente-secundaria;
    font-size: 25px;
}

header {
    background-color: $color-encabezado;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body {
    background-color: $color-fondo;
    color: $color-texto-claro;
}

footer {
    background-color: $color-encabezado;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}