@use "../utilidades/variables" as var; // Importa las variables desde el archivo variables.scss y las asigna al alias 'var'
@use "../utilidades/mixins"; // Importa los mixins desde el archivo mixins.scss
@use "../utilidades/funciones"; // Importa las funciones desde el archivo funciones.scss

/* Estilos del pie de p치gina */
footer {
  @include mixins.flex-center; // Aplica el mixin 'flex-center' para centrar el contenido del footer
  background-color: var.$color-encabezado; // Establece el color de fondo del footer usando una variable
  padding: 20px; 
  margin-top: auto; // Empuja el footer hacia el final de la p치gina

  /* Estilos de la secci칩n de redes sociales */
  .social-media {
    padding: 30px 0; 
    display: flex; 
    gap: 20px; 
    justify-content: center; 

    a {
      color: white; 
    }
  }

  .footer-info {
    text-align: end; 
    padding: 10px; 
    color: white; 
    font-family: var.$fuente-secundaria; // Establece la fuente del texto usando una variable

    a {
      color: white; // Establece el color del texto de los enlaces a blanco
    }
  }
}

/* Estilos responsivos del footer */
@media (max-width: 1000px) {
  footer {
    max-width: 100%; // Establece el ancho m치ximo del footer al 100% del contenedor
  }
}
