/* Llamada a los elementos */
@use "../utilidades/variables" as variables; 
@use "../utilidades/mixins" as mixins; 
@use "../utilidades/funciones" as funciones; 
@use "../base/base";

/* Asignación de variables para interpolación */
$color-background: variables.$color-fondo; // Asigna el valor de la variable $color-fondo a $color-background
$color-encabezado: variables.$color-encabezado; // Asigna el valor de la variable $color-encabezado a $color-encabezado
$color-principal: variables.$color-principal; // Asigna el valor de la variable $color-principal a $color-principal
$color-secundario: variables.$color-secundario; // Asigna el valor de la variable $color-secundario a $color-secundario
$color-activo: variables.$color-activo; // Asigna el valor de la variable $color-activo a $color-activo
$color-texto-oscuro: variables.$color-texto-oscuro; // Asigna el valor de la variable $color-textexto-oscuro a $color-texto-oscuro
$color-texto-claro: variables.$color-texto-claro; // Asigna el valor de la variable $color-texto-claro a $color-texto-claro
$fuente-principal: variables.$fuente-principal; // Asigna el valor de la variable $fuente-principal a $fuente-principal
$fuente-secundaria: variables.$fuente-secundaria; // Asigna el valor de la variable $fuente-secundaria a $fuente-secundaria

/* Clase auxiliar para heredar */
.auxiliar {
    background-color: #{variables.$color-secundario}; // Establece el color de fondo usando la variable $color-secundario
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    cursor: pointer;
    font-family: #{variables.$fuente-principal}; // Establece la fuente usando la variable $fuente-principal
    color: #{variables.$color-texto-claro}; // Establece el color del texto usando la variable $color-texto-claro
}

/* Estilos generales */
body {
    margin: 0;
    background-color: #{variables.$color-fondo}; // Establece el color de fondo usando la variable $color-fondo
    font-family: #{variables.$fuente-principal}; // Establece la fuente usando la variable $fuente-principal
    color: #{variables.$color-texto-claro}; // Establece el color del texto usando la variable $color-texto-claro
}

/* Estilos del menú */
.menu {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px;

    a {
        text-decoration: none;
        color: black;
        font-family: #{variables.$fuente-principal}; // Establece la fuente usando la variable $fuente-principal
    }

    .objeto_menu_activo {
        background-color: #{variables.$color-activo}; // Establece el color de fondo usando la variable $color-activo
        padding: 5px 10px;
    }
}

/* Contenido del main*/
main {
    margin: auto;
    @include mixins.flex-center; // Usa el mixin para centrar el contenido del main
}

/* Sobre Nosotros y Procedencia */
#sobre-nosotros,
#procedencia {
    margin-bottom: 40px;
    background-color: #{variables.$color-principal}; // Establece el color de fondo usando la variable $color-principal
    padding: 5%;

    h1 {
        color: white;
        text-align: start;
        padding: 20px;
        font-family: #{variables.$fuente-principal}; // Establece la fuente usando la variable $fuente-principal
    }

    .bloque_imagen_texto,
    .bloque_granja_imagen_texto {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        align-items: center;

        p {
            color: white;
            text-align: justify;
            padding: 20px;
            font-family: #{variables.$fuente-secundaria}; // Establece la fuente usando la variable $fuente-secundaria
        }

        img {
            border-radius: 10px;
            max-width: 750px; // Ajusta el tamaño máximo de la imagen
            flex-shrink: 0; // Evita que la imagen se reduzca demasiado
        }

        button {
            @extend .auxiliar; // Extiende los estilos de la clase .auxiliar
            margin-top: 20px; // Añade margen superior para posicionar el botón debajo del párrafo
            margin-left: 20px;
            @include funciones.zoom-on-hover; // Aplica el mixin zoom-on-hover
        }

        .boton_mas {
            @extend .auxiliar; // Extiende los estilos de la clase .auxiliar
            margin-top: 20px; // Añade margen superior para posicionar el botón debajo del párrafo
            align-self: flex-start; // Asegura que el botón se alinee al inicio del contenedor flex
        }
    }
}

/* Estilos responsivos */
@media (max-width: 1024px) {
    .logo {
        width: clamp(80px, 10vw, 140px); // Ajusta el tamaño del logo de manera responsiva
    }

    #sobre-nosotros .bloque_imagen_texto,
    #procedencia .bloque_granja_imagen_texto {
        flex-direction: column; // Cambia la dirección del flex a columna
        align-items: flex-start;

        img {
            max-width: 100%; // Ajusta el tamaño máximo de la imagen al 100% del contenedor
        }
    }
}
