@use '../utilidades/variables' as var;
@use '../utilidades/mixins';

// Carrusel de productos
// Estilos para el carrusel de productos
#productos {
  text-align: center;
  padding: 50px;

  h2 {
    font-family: var.$fuente-principal; // Usa la fuente principal definida en variables
    font-size: 25px;
    color: var.$color-texto-oscuro; // Usa el color de texto oscuro definido en variables
    margin-bottom: 20px;
  }

  .bloque_productos {
    position: relative;
    max-width: 100%;
    padding: 0%;
    margin: 0%;
  }

  .opciones {
    display: flex;
    justify-content: space-between;
    /* Añadir espacio entre los productos */
    gap: 15px; // Espacio entre los elementos hijos
  }

  .opcion {
    flex: 0 0 auto;
    width: 250px;
    height: 300px;
    position: relative;
    scroll-snap-align: start; // Alinea el elemento al inicio del contenedor de desplazamiento
    border-radius: 10px;
    overflow: hidden;
  }

  .opcion figure {
    width: 100%;
    height: 100%;
    position: relative;
  }

  .opcion img {
    width: 100%;
    height: 100%;
    object-fit: cover; // Asegura que la imagen cubra completamente el contenedor
    border-radius: 10px;
  }

  .opcion p {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%); // Centra horizontalmente el texto
    background: rgba(0, 0, 0, 0.5); // Fondo semitransparente
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 15px;
    font-family: var.$fuente-principal; // Usa la fuente principal definida en variables
  }

  .fa-chevron-left,
  .fa-chevron-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%); // Centra verticalmente el icono
    background-color: rgba(255, 255, 255, 0.8); // Fondo semitransparente
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
  }

  .fa-chevron-left {
    left: -40px;
    /* Ajustar según sea necesario */
  }

  .fa-chevron-right {
    right: -40px;
    /* Ajustar según sea necesario */
  }
}

/* Estilos responsivos para el carrusel (los productos) */
@media (max-width: 1200px) {
  .opciones .opcion:nth-child(4) {
    display: none;
    /* Oculta el cuarto artículo en pantallas menores a 1200px */
  }
}

@media (max-width: 900px) {
  .opciones .opcion:nth-of-type(3) {
    display: none;
    /* Oculta el tercer artículo en pantallas menores a 900px */
  }
}

@media (max-width: 610px) {
  .opciones .opcion:nth-of-type(2) {
    display: none;
    /* Oculta el segundo artículo en pantallas menores a 610px */
  }
}

@media (max-width: 480px) {
  .opciones .opcion:nth-of-type(1) {
    margin: 0 auto;
    /* Centra la única imagen restante */
  }
}