@use "../sass/_variables" as var;
@use "../sass/_mixins";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var.$fuente-principal;
    font-size: 25px;
}

body {
    background-color: var.$color-fondo;
    color: var.$color-texto-claro;
}
