// Mapas de tamaños de texto
$tamano-texto: (
  muy-pequeno: 10px,
  pequeno: 15px,
  parrafo: 20px,
  subtitulo: 25px,
  titulo: 30px,
  iconsize: 40px
);

// Mixin para poder aplicar tamaños
@mixin font-size($tamano) {
  font-size: map-get($text-sizes, $tamano);
}

// Ejemplos de uso
h1 {
  @include font-size(titulo);
}

h2 {
  @include font-size(subtitulo);
}

p, a {
  @include font-size(parrafo);
}

button {
  @include font-size(pequeno);
}

.footer-text {
  @include font-size(pequeno);
}

.fa-chevron-left, .fa-chevron-right{
  @include font-size(iconsize);
}